#background-video {
  position: absolute;
  top: 0;
  left: 0;
  /* min-width: 100%;
  max-height: 100%; */
  height: 117%;
  width: 100%;
  object-fit: cover;
  z-index: "-1"; /* important to see pic */
  background-color: #2a5555;
  opacity: 0.7;
}
p {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
  margin-top: 0.1vw;
}
.btn {
  margin-right: 0.3rem;

  display: inline-block; /*btn "next" to word "inline=same line"*/
  vertical-align: middle; /*"position" the el (word) next to btn*/
  background: #fff;
  color: black;
  outline: 0; /*OUTSIDE the borders */
  border: 0;
  border-radius: 4px;
  text-align: center;
  font-weight: 700; /*5ochn lktiba*/
  line-height: 16px;
  letter-spacing: 0.04em;
  position: relative;
  transition: all 0.2s ease 0s;
  font-family: Roboto, Arial, sans-serif;
  zoom: 1;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
  color: black;
}
.btn-moreInformation {
  padding: 10px 15px;
  margin-left: 0.3rem;

  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}
.btn-moreInformation:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}
/*
  border-style: none;
  box-shadow: #180101ea 0 -13px 7px inset;
  box-sizing: border-box;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
*/

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/