.Add-btn {
  position: relative;
  box-shadow: 0 20px 30px 3px rgb(0 0 0 / 20%);
  transition: box-shadow 0.2s ease 0s;
  transform: scale(0.95);
  transition: all 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.03);

  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #fe4141;
  border: transparent;
  color: white;
  font-size: 300px;
  cursor: pointer;
  width: 273px;
  height: 683px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  margin: 12%;
}
.Add-btn:focus:hover {
  transform: scale(1);
  box-shadow: 0 20px 50px 0 rgba(250, 248, 248, 0.13);
}

/* add modal */
.AddArticle-h2 {
  color: #1e1b26;
  text-align: center;
}
.add-modal {
  position: relative;
  top: 10%;
  left: 35%;
  padding: 20px;
  width: 500px;
  border: 1px solid #1e1b26;
  border-radius: 5px;
  background-color: white;
}
form h2 {
  text-decoration: underline;
}
form {
  /* display: flex; */
  flex-direction: column;
  color: #141414;
}
form input {
  width: 98%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding-left: 10px;
  margin-top: 10px;
}
form label {
  margin-top: 20px;
}
form input:focus {
  outline: 0;
}
form textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
  color: grey;
  padding: 10px;
  margin-top: 10px;
}
form textarea:focus {
  outline: 0;
}
/* modal Buttons */
.Modal-btn {
  border-radius: 5px;
  background-color: #fe4141;
  border: transparent;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}
.Modal-btn:hover {
  background-color: rgba(254, 65, 65, 0.8);
}
.Modal-btn:focus {
  outline: 0;
}